RewriteEngine on
RewriteCond %{HTTP_HOST} ^pencatarma.unimar-amni.ac.id$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.pencatarma.unimar-amni.ac.id$
RewriteCond %{REQUEST_URI} !pencatarma/
RewriteRule (.*) /pencatarma/$1 [L]